.App {
  text-align: center;
  /* display: flex; */
}

body {
  background-color: rgba(0, 0, 0, 0.6);
}

.app_button {
  position: sticky;
  top: 10px;
  display: block;
  padding: 20px;
}

.app__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
